/* General layout */
body {
  font-family: "Segoe UI", sans-serif, Tahoma, Geneva, Verdana;
  background-color: #ffffff;
  margin: 0;
  padding: 20px;
}

/* Table container */
.container {
  max-width: 900px;
  margin: 50px auto;
  background-color: white;
  padding: 20x;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-top: 4px solid #674188;
}
.container input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20 px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}
.details {
  color: #000;
  font-size: 20px;
}
.details strong {
  color: #674188;
  font-size: 20px;
  margin-right: 3px;
}
/* Heading */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #674188;
}

/* Student table */
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

th,
td {
  text-align: left;
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
}

th {
  background-color: #674188;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}
tr:nth-child(even) {
  background-color: #e2bfd9;
}
tr:hover {
  background-color: #ebe9e8;
}
/* Buttons */
.btn {
  display: inline-block;
  padding: 10px 25px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  transition: background-color 0.3s transform 0.2s;
  margin: 15px;
}
.btn-primary {
  background-color: #674188;
}
.btn-danger {
  background-color: #dc3545;
}
.errorMsg {
  color: #dc3545;
}
.btn-info {
  background-color: #33bee5;
}
.btn-save {
  background-color: #674188;
}
.btn-back {
  background-color: #dc3545;
}
.btn-hover {
  transform: translateY(-2px);
}
.btn-add {
  background-color: #533366;
}
.container label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}
